@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-info{
    background: linear-gradient(90deg, #4285F4 0%, #2758ED 38.02%, #801B91 93.14%, #861188 100%);
    padding: 7px 0;
}
.top-info p{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* navbar styling */

.nav{
    display: flex;
    flex-grow: 100%;
    text-align: center;
    padding: 18px 0;
}
.logo{
    flex: 1;
    color: #222;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navbar{
    flex: 1.5;
    list-style-type: none;
    display: flex;
}
.navbar li{
    flex: 0.8;
    color: #222;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.social{
    flex: 1;
    padding-right: 30px;
    text-align: right;
}
.social img{
    padding: 0 5px;
}
.line{
    border: 1px solid #22222241;
}


/* profile section styling */

.profile-wrapper{
    margin-top: 140px;
    display: flex;
    /* border: 2px solid red; */
}
.profile{
    opacity: 0.3;
    background: #4285F4;
    margin: 0 10px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.profile.profile-active{
    opacity: 1;
    object-fit: cover;
}

/* introduction section styling */

.intro{
    margin-left: 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;

}
.heading-text{
    width: 805px;
    flex-direction: column;
    color: #222;
    font-size: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: -1.35px;
}
.text-fancy{
    font-size: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -1.35px;
    background: linear-gradient(#4285F4, #0060FF, #00286B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}
.hello{
    margin-left: 580px;
    width: 219px;
    height: 62px;
    transform: translate(0,50%);
    background: url(icons/hello.gif), lightgray -0.339px 0px / 100.426% 100% no-repeat;
}
.normal-text{
    margin-top: 40px;
    color: #000;
    opacity: 0.6;
    font-size: 17px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* main section styling */

.main-wrapper{
    display: flexbox;
    margin: 230px 105px;
}

/* summary section styling */

.summary{
    float: left;
    border-radius: 36px;
    border: 1px solid #D1E0F7;
    width: 590px;
    height: 486px;
    flex-shrink: 0;
    padding: 45px 33px 35px 35px;
}
.heading-summary{
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.content-summary{
    margin: 26px 0;
    text-align: justify;
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* quote section styling */

.quote-box{
    float: right;
    width: 600px;
    padding: 55px 35px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #D1E0F7;
}
.quote.text-fancy{
    font-size: 30px;
}

/* tech section styling  */
.tech-used{
    float: right;
    margin-top: 23px;
    width: 600px;
    padding: 45px 35px;
    border-radius: 36px;
    border: 1px solid #D1E0F7;
}
.heading-tech{
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}